/* common */

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  position: relative;
  top: -3px;
  display: inline-block;
  border: 1px solid $gray-light;
  border-radius: 1px;
  padding: 2px 4px;
  background-color: white;

  &:focus {
    outline: none;
    border: 1px solid $gray;
  }

  &::-webkit-input-placeholder {
    color: $gray;
  }
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
}

input[type="number"] {
  width: 5em;
}

button {
  display: inline-block;
  padding: 2px 14px 1px;
  text-align: center;
  border: 1px solid;
  border-color: $gray-lighter $gray-light lighten(#000, 68.5%);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0.05px 0.1px 0 rgba(0, 0, 0, 0.3);

  &:focus {
    outline: none;
  }
}

/* layout */

$sidebar-base-width: 180px;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  color: $gray-darkest;
  overflow: hidden;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  flex: 0 1 $sidebar-base-width;
  flex-flow: column nowrap;
  background-color: $gray-lightest;
  // border-right: 1px solid $gray-lighter;

  > h1 {
    color: $gray;
    font-size: 11px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    font-weight: normal;
    margin: 15px 0 0;
    padding: 3px 10px 3px;
  }

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: block;

      > a {
        display: block;
        color: $gray-darker;
        padding: 3px 10px 3px 20px;
        font-size: 12px;

        &:hover {
          background-color: transparent;
          text-decoration: none;
        }

        &.active,
        &.active:hover {
          background-color: $gray-lighter;
        }

        .glyphicon {
          position: relative;
          top: 3px;
          left: -7px;
          color: $gray-dark;
          font-size: 14px;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  position: relative;
  height: 100%;
  background-color: white;
}

.content.library {
  > .library-header {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 45px;
    border-bottom: 1px solid $gray-lighter;
    padding: 0 20px;

    > .searchbox {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 1 auto;
      justify-content: flex-start;
      align-items: center;

      > input[type="text"] {
        font-size: 14px;
        display: inline-block;
        border: none;
        width: 100%;

        &:focus {
          border: none;
        }
      }
    }

    > .toolbar {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 1 auto;
      justify-content: flex-end;
      align-items: center;

      > .toolbar-button {
        display: inline-block;
        font-size: 14px;
        margin-left: 20px;
        color: $gray;
        /*
        border: 1px solid $gray-light;
        border-radius: 10px;
        padding: 5px 10px;
        */

        > .glyphicon {
          position: relative;
          top: 2px;
        }
      }
    }
  }

  > .library-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0;
    overflow: auto;

    .library-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;
      width: calc(100% - 30px);
      height: 100%;
      margin: 0 15px;
      padding: 0 15px;

      > .library-item-info {
        display: flex;
        flex-flow: column nowrap;
        max-width: 100%;
        justify-content: center;

        > .library-item-info-row {
          display: flex;
          flex-flow: row nowrap;
          max-width: 100%;
          justify-content: flex-start;

          > .delimiter {
            margin-right: 0.25em;
          }

          > .library-item-author {
            flex: 0 1 auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          > .library-item-title {
            flex: 0 1 auto;
            overflow: hidden;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          > .library-item-meta {
            flex: 0 0 auto;
            overflow-x: hidden;
            margin-left: 0.5em;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .not-first-child > .library-item {
      border-top: 1px solid $gray-lighter;
    }
  }
}

/* components */

.form {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  overflow: auto;

  > .form-group {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    justify-content: flex-start;
    padding: 4px 0 0;
    margin-bottom: 4px;

    > label {
      flex: 0 0 10%;
      margin-right: 8px;
      text-align: right;
    }
  }

  > .form-action {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    justify-content: flex-end;
    margin-top: 4px;

    > button {
      margin-left: 8px;
    }
  }
}

.virtualscroll {
  flex: 1 1 0;
  display: block;
  overflow: auto;

  > ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);

  > .modal-dialog {
    position: absolute;
    width: 500px;
    top: 80px;
    left: calc(50% - 250px);
    padding: 15px 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.dropzone {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  &.active {
    background-color: rgba(255, 255, 255, 0.95);
  }

  &.active::after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    left: 15px;
    border: 5px dashed #ccc;
    border-radius: 20px;
  }
}
